@model DTO.DOANDL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DOANDL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("IDT")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDT)
        </dd>

        <dt>
            @Html.DisplayName("Tên gọi")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENGOI)
        </dd>

        <dt>
            @Html.DisplayName("Ngày bắt đầu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBD)
        </dd>

        <dt>
            @Html.DisplayName("Ngày kết thúc")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKT)
        </dd>

        <dt>
            @Html.DisplayName("Tổng kinh phí")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGKINHPHI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
