@model DTO.KH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Họ tên lót")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTL)
        </dd>

        <dt>
            @Html.DisplayName("Tên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN)
        </dd>

        <dt>
            @Html.DisplayName("Cmnd")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            @Html.DisplayName("Giới tính")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOITINH)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayName("Số điện thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayName("Quốc tịch")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOCTICH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
