@model DTO.TGTOUR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TGTOUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên đoàn du lịch")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOANDL.TENGOI)
        </dd>

        <dt>
            @Html.DisplayName("Tên khách hàng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KH.TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
